<div id="about-ph"></div>
<img src="../img/about-title.svg" class="about-fixed desktop" id="about-title">
<img src="https://res.cloudinary.com/media4e7/image/upload/v1560353453/about_us_wriwov.svg" class="about-fixed mobileab">
<div id="alex" class="about_us about-fixed">
    <img class="mobile-alex main-img" src="https://res.cloudinary.com/media4e7/image/upload/c_fill,g_face,h_300,w_340/v1560936275/31392436-10154717483693039-3973378888112799744-n_w9ipii.jpg">
    <div class="des-alex main-img" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/c_crop,g_face,h_500,w_500,x_0,y_0/v1560936275/31392436-10154717483693039-3973378888112799744-n_w9ipii.jpg')"></div>
    <div class="about_text">
        <img class="ab-txt" src="../img/alex.png">
        <p class='ab-p'>Partner-General Manager at Cayenne (Germany, Austria, Spain, Netherlands, Czech Republic), handling accounts such as Nintendo, Guess, Canon, One Mobile, Skoda, among others. Partner-General Manager, TBWA Latin America, handling accounts such as
            Apple, Absolut, Chivas, Beiersdorf (Nivea), Nissan.
            <br> Senior Vice President, Creative Director at Grey New York, responsible for Canada and South America, handling accounts such as Procter & Gamble, General Foods and Visa. Around the end of the '90s, Alex and his partner moved closer to
            the digital arena, being one of the first large advertising companies to integrate digital with classic, giving the company the competitive advantage it holds up to these days.</p>
    </div>
</div>
<div id="selma" class="about_us">
    <div class="about_text">
        <img src="../img/selma.png">
        <p class='ab-p'>Owner and Editor in Chief at Notorious Mag and Trendsylvania. Partner and Creative Director at TBWA Latin America, handling accounts such as Apple, Absolut Vodka, Chivas Regal, Beiersdorf (Nivea) and Nissan. Creative Director at BBDO, handling
            accounts such accounts as Volkswagen, Visa, Club Med and Carrefour among others. While being one of the most awarded creatives at BBDO, Selma decided to join Alex and launch TBWA in Brazil, making it one of the most awarded agencies in the
            country in just a three year period. Once in Europe, her Volkswagen creative reputation was responsible for getting the European Skoda account into Cayenne. Her love for fashion brought her to the São Paulo Fashion Week, where she repositioned
            the event and was responsible for its entire communication. In the four year period where she was in charge, the event jumped from 7th to 5th position worldwide.</p>
    </div>
    <div class="main-img desktop" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/c_fill,g_face,h_500,w_500,x_0,y_0/v1560863848/Screenshot_2019-06-18_at_15.07.04_wvzifj.jpg')"></div>
    <img class="main-img mobile" src="https://res.cloudinary.com/media4e7/image/upload/c_lfill,g_face,h_300,w_320/v1560863848/Screenshot_2019-06-18_at_15.07.04_wvzifj.jpg">
</div>