<div id="about-ph"></div>
<img src="../img/about_us.png" class="about-fixed desktop" id="about-title">
<img src="https://res.cloudinary.com/media4e7/image/upload/v1560353453/about_us_wriwov.svg" class="about-fixed mobileab">
<div id="alex" class="about_us about-fixed">
    <img class="mobile-alex" src="https://res.cloudinary.com/media4e7/image/upload/c_thumb,h_200,w_320/v1560350435/about_alex_frsevq.jpg">
    <img class="des-alex" src="https://res.cloudinary.com/media4e7/image/upload/v1560350435/about_alex_frsevq.jpg">
    <div class="about_text">
        <img src="../img/alex.png">
        <p>Partner-General Manager at Cayenne (Germany, Austria, Spain, Netherlands, Czech Republic), handling accounts such as Nintendo, Guess, Canon, One Mobile, Skoda, among others. Partner-General Manager, TBWA Latin America, handling accounts such as
            Apple, Absolut, Chivas, Beiersdorf (Nivea), Nissan.
            <br> Senior Vice President, Creative Director at Grey New York, responsible for Canada and South America, handling accounts such as Procter & Gamble, General Foods and Visa. Around the end of the '90s, Alex and his partner moved closer to
            the digital arena, being one of the first large advertising companies to integrate digital with classic, giving the company the competitive advantage it holds up to these days.</p>
    </div>
</div>
<div id="selma" class="about_us">
    <div class="about_text">
        <img src="../img/selma.png">
        <p>Owner, Editor in Chief - Notorious Mag, Trendsylvania. Partner-Creative Director, TBWA Latin America, handling accounts such as Apple, Absolut, Chivas, Beiersdorf (Nivea), Nissan. Creative Director at BBDO, handling accounts such as Volkswagen,
            Visa, Club Med, Carrefour, among others. The most awarded Creative Director at BBDO, Selma decided to join Alex and launch TBWA Latin America. Her campaigns for Volkswagen were so famous and awarded that they were responsible for Cayenne getting
            the european Skoda account. Her love for fashion brought her to the production of FWMag for the SaÌƒo Paulo Fashion Week, which subsequently led her to reposition the entire event and take on the responsibility for its marketing. In the four
            year period she was in charge, the SaÌƒo Paulo Fashion Week jumped from 7th to 5th position worldwide. Awards: Cannes, New York Festivals, London International Awards, Clio.</p>
    </div>
    <img src="https://res.cloudinary.com/media4e7/image/upload/v1559998299/about_selma_e4vlvm.jpg">
</div>