<div id="campaigns" class="section">
    <div class="fp-bg"></div>
    <img class="camp-img" src="https://res.cloudinary.com/media4e7/image/upload/v1562331565/camp_fhguk4.svg">
    <img class="mcamp-img" src="https://res.cloudinary.com/media4e7/image/upload/v1562332584/mcamp_n8wwqj.svg">
</div>
<div id="eye" class="section">
    <div class="fp-bg"></div>
    <img class="eye-img" src="https://res.cloudinary.com/media4e7/image/upload/v1560779600/4e7-auge_jrc6jl.jpg">
    <img class="eye-text" src="https://res.cloudinary.com/media4e7/image/upload/v1560779602/we-are-a-media_rlopia.png">
    <div class="eye-links">
        <a href="https://www.canneslions.com/"><img src="https://res.cloudinary.com/media4e7/image/upload/v1560867705/Logo-1_qhsc32.jpg"></a>
        <a href="https://www.eurobest.com/"><img src="https://res.cloudinary.com/media4e7/image/upload/v1560867705/Logo-03_x0x3ek.jpg"></a>
        <a href="https://www.luerzersarchive.com/"><img src="https://res.cloudinary.com/media4e7/image/upload/v1560867705/Logo-02_lwpc3w.jpg"></a>
        <a href="https://www.adsoftheworld.com/?terms=4E7&created=all&country=All&medium=All&industry=All"><img src="https://res.cloudinary.com/media4e7/image/upload/v1560867705/Logo-04_tmjvr1.jpg"></a>
    </div>
    <p>that has been successfully creating innovative and award winning venues and campaigns. Evolutionary culture is in our genes and we never lost touch with the streets, the trends and the zeitgeist.<br><br> We do not label ourselves as ATL, BTL, Online,
        Offline, since the marketing problem will tell us which strategy to follow. But usually<br>-in best omnichannel manner - our campaigns are through the line.<br><br> We also know that consumers nowadays can't be forced into believing a marketing
        message, they have to be seduced and persuaded. And the best way to achieve this is by entertaining them.</p>
</div>
