<div id="cases" class="section">
    <img class="desktop" src="../img/case-title.svg">
    <img class="mobile" src="https://res.cloudinary.com/media4e7/image/upload/v1560353453/cases_tqtegn.svg">
    <div class="tn-cont cases-cont">
        {% for post in site.cases %}
        <a class="img-cont" href="{{ post.url }}" style="background-image: url('{{site.cloud_host}}{{ post.tnimg }}');">
            <!--<p class="mobile mobile-title">{{ post.title}}</p>-->
            <div class="hover-cont desktop">
                {{ post.title}}
            </div>
        </a>
        {% endfor %}
    </div>
</div>