<div id="features" class="section">
    <div class="feat_cont">
        <div class="feat-box slide" style="background-image: url('{{ site.data.feat.img[0]}}');">
            <div class="hover-cont green">
                <ul class="dashed">
                    <li> We created the most watched Youtube video for Austria Advertising ever with 2.9 million views.</li>
                    <li> Two of our soundtracks -Lidl and Humanic- became top hits on Austrians radio charts.</li>
                    <li> Our Rakuten Campaign achieved 30% Share of Mind in just 30 days.</li>
                    <li> Awards - London Festival, Cannes Festival, NY Festival, Clio Awards, Eurobest.</li>
                </ul>
                <img src="../img/ad.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right one"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-one"></i></button>-->
        </div>
        <div class="feat-box slide" style="background-image: url('{{ site.data.feat.img[1]}}');">
            <div class="hover-cont grey ">
                <ul class="dashed">
                    <li> Colgate branded entertainment campaign was featured on primetime ORF news and on German ZDF news.</li>
                    <li> Schöller Eis webisodes got over 500.000 organic views per episode (without ads).</li>
                    <li> Novomatic webisodes were aired on YouTube and Facebook, reaching over 3 million organic views (without ads).</li>
                </ul>
                <img src="../img/branded.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right two"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-two"></i></button>
-->        </div>
        <div class="feat-box slide" style="background-image: url('{{ site.data.feat.img[2]}}');">
            <div class="hover-cont yellow">
                <ul class="dashed">
                    <li> Trendsylvania by Humanic reached 450K monthly unique visitors, and became the 3rd largest online fashion magazine in Austria.</li>
                    <li> Trendsylvania print version was distributed in 12 Countries.</li>
                    <li> Little Big Heart, a Baby online magazine, is one of the most relevant pregnancy web pages in the DACH region.</li>
                </ul>
                <img src="../img/publish.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right tree"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-tree"></i></button>-->
        </div>
        <div class="feat-box slide" style="background-image: url('{{ site.data.feat.img[3]}}');">
            <div class="hover-cont rosa">
                <ul class="dashed">
                    <li> 27 Facebook Pages.</li>
                    <li> Facebook fan base of over 2 Million users.</li>
                    <li> Advanced connect targeting reach of over 84 million Facebook users.</li>
                    <li> We created the very first global Facebook page in the German speaking area for Nestlé.</li>
                    <li> The best CTR and CPC in the digital Social Media market, thus always achieving the highest ROI.</li>
                </ul>
                <img src="../img/social.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right four"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-four"></i></button>-->
        </div>
    </div>
    <div class="feat_cont">
        <div class="mfeat-box slide" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1561545277/advertising_mobile_f5a8gh.jpg');">
            <div class="hover-cont green">
                <ul class="dashed">
                    <li> We created the most watched Youtube video for Austria Advertising ever with 2.9 million views.</li>
                    <li> Two of our soundtracks -Lidl and Humanic- became top hits on Austrians radio charts.</li>
                    <li> Our Rakuten Campaign achieved 30% Share of Mind in just 30 days.</li>
                    <li> Awards - London Festival, Cannes Festival, NY Festival, Clio Awards, Eurobest.</li>
                </ul>
                <img src="../img/ad.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right one"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-one"></i></button>-->
        </div>
        <div class="mfeat-box slide" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1561545531/branded_entertainment-mobile_mnxzaw.jpg');">
            <div class="hover-cont grey ">
                <ul class="dashed">
                    <li> Colgate branded entertainment campaign was featured on primetime ORF news and on German ZDF news.</li>
                    <li> Schöller Eis webisodes got over 500.000 organic views per episode (without ads).</li>
                    <li> Novomatic webisodes were aired on YouTube and Facebook, reaching over 3 million organic views (without ads).</li>
                </ul>
                <img src="../img/branded.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right two"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-two"></i></button>
-->        </div>
        <div class="mfeat-box slide" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1561545276/branded_publishing-mobile_eftijk.jpg');">
            <div class="hover-cont yellow">
                <ul class="dashed">
                    <li> Trendsylvania by Humanic reached 450K monthly unique visitors, and became the 3rd largest online fashion magazine in Austria.</li>
                    <li> Trendsylvania print version was distributed in 12 Countries.</li>
                    <li> Little Big Heart, a Baby online magazine, is one of the most relevant pregnancy web pages in the DACH region.</li>
                </ul>
                <img src="../img/publish.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right tree"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-tree"></i></button>-->
        </div>
        <div class="mfeat-box slide" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1561545274/social_media_management-mobile_lqehdp.jpg');">
            <div class="hover-cont rosa">
                <ul class="dashed">
                    <li> 27 Facebook Pages.</li>
                    <li> Facebook fan base of over 2 Million users.</li>
                    <li> Advanced connect targeting reach of over 84 million Facebook users.</li>
                    <li> We created the very first global Facebook page in the German speaking area for Nestlé.</li>
                    <li> The best CTR and CPC in the digital Social Media market, thus always achieving the highest ROI.</li>
                </ul>
                <img src="../img/social.svg">
            </div>
            <!--<button><i class="fas fa-angle-double-right four"></i></button>-->
            <!--<button><i class="fas fa-angle-double-left featclose o-four"></i></button>-->
        </div>
    </div>
</div>