<div id="features">
    <div class="feat_cont">
      <div style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1559997739/advertising_z1cedf.jpg');"></div>
      <div style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1559997738/branded-entertainment_xdxrnf.jpg');"></div>
      <div style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1559997738/branded-publishing_wob1m5.jpg');"></div>
      <div style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1559997739/social-media-m-anagement_i9bafc.jpg');"></div>
    </div>
</div>