<div id="features" class="section">
        <div class="slide ">
            <div class="fp-bg f-one">
            </div>
            <div class="flex-full-center">
                <div class="content-cont">
                    <ul class="dashed">
                        <li> We created the most watched Youtube video for Austria Advertising ever with 2.9 million
                            views.
                        </li>
                        <li> Two of our soundtracks -Lidl and Humanic- became top hits on Austrians radio charts.</li>
                        <li> Our Rakuten Campaign achieved 30% Share of Mind in just 30 days.</li>
                        <li> Awards - London Festival, Cannes Festival, NY Festival, Clio Awards, Eurobest.</li>
                    </ul>
                    <div class="title-box">
                        <div class="sec-title white m-r">
                            <h3>ADVERTISING</h3>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="slide ">
            <div class="fp-bg f-two">
            </div>
            <div class="flex-full-center">
                <div class="content-cont">
                    <ul class="dashed">
                        <li> Colgate branded entertainment campaign was featured on primetime ORF news and on German ZDF
                            news.</li>
                        <li> Schöller Eis webisodes got over 500.000 organic views per episode (without ads).</li>
                        <li> Novomatic webisodes were aired on YouTube and Facebook, reaching over 3 million organic
                            views
                            (without ads).</li>
                    </ul>
                    <div class="title-box">
                        <div class="sec-title white m-r">
                            <h3>BRANDED</h3>
                            <div class="line"></div>
                        </div>
                        <div class="sec-title white m-l">
                            <div class="line"></div>
                            <h3>ENTERTAINMENT</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="slide ">
            <div class="fp-bg f-tree"></div>
            <div class="flex-full-center">
                <div class="content-cont">
                    <ul class="dashed">
                        <li> Trendsylvania by Humanic reached 450K monthly unique visitors, and became the 3rd largest
                            online
                            fashion magazine in Austria.</li>
                        <li> Trendsylvania print version was distributed in 12 Countries.</li>
                        <li> Little Big Heart, a Baby online magazine, is one of the most relevant pregnancy web pages
                            in
                            the
                            DACH region.</li>
                    </ul>
                    <div class="title-box">
                        <div class="sec-title white m-r">
                            <h3>BRANDED</h3>
                            <div class="line"></div>
                        </div>
                        <div class="sec-title white m-l">
                            <div class="line"></div>
                            <h3>PUBLISHING</h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="slide ">
            <div class="fp-bg f-four"></div>
            <div class="flex-full-center">
                <div class="content-cont">
                    <ul class="dashed">
                        <li> 27 Facebook Pages.</li>
                        <li> Facebook fan base of over 2 Million users.</li>
                        <li> Advanced connect targeting reach of over 84 million Facebook users.</li>
                        <li> We created the very first global Facebook page in the German speaking area for Nestlé.</li>
                        <li> The best CTR and CPC in the digital Social Media market, thus always achieving the highest
                            ROI.
                        </li>
                    </ul>
                    <div class="title-box">
                        <div class="sec-title white m-l">
                            <h3>SOCIAL MEDIA</h3>
                            <div class="line"></div>
                        </div>
                        <div class="sec-title white m-r">
                            <div class="line"></div>
                            <h3>MANAGEMENT</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div> 