<div id="footer" class="section" >
    <div class="fp-bg" style="background-image: url('https://res.cloudinary.com/media4e7/image/upload/v1575891351/4e7-footerbg_fy08ps.jpg'); background-size: cover"></div>
    <div class="flex-full-center"><div class="first_row">
        <div class="touch">
            <h2>GET IN TOUCH </h2>
            <p><strong>407 Communication</strong></p>
            <p>
                <a href="tel:+43 664 6210591">+43 664 6210591</a><br>
                <a href="mailto: info@407.media">info@407.media</a>
            </p>
        </div>
        <div class="links">
            <h2>LINKS</h2>
            <p><strong>Check out our publishing products</strong></p>
            <a href="https://www.notorious-mag.com/">notorious-mag.com</a>
        </div>
    </div>
    <div class="second_row">
        <p>© 2020 407 Communication OG All Rights Reserved.</p>
        <div class="i-link">
            <a href="#">IMPRESSUM</a>
        </div>
        <div class="social_footer">
            <a class="social-icon" href="https://www.facebook.com/media4e7/"><img src="../img/icons/facebook-icon.png"></a>
            <a class="social-icon" href="https://www.instagram.com/4e7_media/"><img src="../img/icons/instagram-icon.png"></a>
            <a class="social-icon" href="https://www.youtube.com/channel/UC3uKn5tSiZKluggckQ4_Wwg"><img src="../img/icons/youtube-icon.png"></a>
        </div></div>
    
    </div>
</div>
