<div id="footer">
    <div class="first_row">
        <div class="touch">
            <h2>GET IN TOUCH </h2>
            <p><strong>4e7 Media</strong></p>
            <p>Schwarzenbergplatz 6, 1030 Wien </br>
                <a href="tel:+43 676 933 0517">+43 (0)676 933 0517</a> / <a href="tel:+43 676 7637 115">+43 (0) 676 7637 115</a> </br>
                <a href="mailto: info@media.com">info@4e7media.com</a>
            </p>
        </div>
        <div class="links">
            <h2>LINKS</h2>
            <p><strong>Check out our publishing!</strong></p>
            <a href="https://www.notorious-mag.com/">notorious-mag.com</a>
            <a href="https://www.littlebigheart.com/">littlebigheart.com</a>
        </div>
    </div>
    <div class="second_row">
        <p>© 2019 4e7media GmbH. All Rights Reserved.</p>
        <div class="link">
            <a>IMPRESSUM</a>
            <a>COOKIE POLICY</a>
        </div>
        <div class="social_footer">
            <a class="social-icon" href="https://www.facebook.com/media4e7/"><img src="../img/icons/facebook-icon.png"></a>
            <a class="social-icon" href="https://www.instagram.com/explore/locations/257660147/agency-4e7/"><img src="../img/icons/instagram-icon.png"></a>
            <a class="social-icon" href="https://www.youtube.com/channel/UC3uKn5tSiZKluggckQ4_Wwg"><img src="../img/icons/youtube-icon.png"></a>
        </div>
    </div>
</div>