<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="Wiener Werbeagentur">
    <meta property="og:title" content="4e7media Werbeagentur" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.4e7media.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/media4e7/image/upload/v1560936202/25-years-creating-successful_prgxyf.jpg" />
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <meta name="google-site-verification" content="DWa1qaLKBbPJGk-F_TnE1FVvwh9gb4yiHX2zkto_sNo" />
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bddff3f62f.js"></script>
    <script src="/assets/js/magnific_popup_main.js"></script>
    <script src="/assets/js/loading-bar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/magnific_popup_main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.min.css" integrity="sha256-3IkGqGYOvq1Ype2MXFwVJFeBtBACgiveho3SacOEEP8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/loading-bar.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>