<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bddff3f62f.js"></script>
    <script src="/assets/js/my.js"></script>
    <script src="/assets/js/magnific_popup_main.js"></script>
    <link rel="stylesheet" href="/assets/css/magnific_popup_main.css">
</head>