<div id="landingpage" class="section">
    <nav>

        <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com/media4e7/"><img src="../img/icons/facebook-icon.png"></a>
            <a target="_blank" href="https://www.instagram.com/4e7_media/"><img src="../img/icons/instagram-icon.png"></a>
            <a target="_blank" href="https://www.youtube.com/channel/UC3uKn5tSiZKluggckQ4_Wwg"><img src="../img/icons/youtube-icon.png"></a>
        </div>
        <div class="site_links">
            <a href="#wwd">WHAT WE DO</a>
            <a href="#case">CASES</a>
            <a href="#works">WORK</a>
            <a href="#platforms">PLATFORMS</a>
            <a class="ab-btn" href="#ab-alex">ABOUT</a>
        </div>
    
    
    </nav>
    <video playsinline data-autoplay loop muted class="bgvideo">
      <source src="https://res.cloudinary.com/media4e7/video/upload/ac_none,vc_h264:main/v1559939589/video-header2_canbff.mp4">
    </video>
    <img class="logo" src="../img/icons/logo-4e7-media.png" title="The logo of 4e7media GmbH.">
</div>