<div class="load">
    <svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.95 116.18">
        <defs>
          <style>
            .cls-1 {
              fill: #fff;
              stroke: #000;
              stroke-miterlimit: 10;
              stroke-width: 3px;
            }
          </style>
        </defs>
        <title>407logo1</title>
        <path class="cls-1" d="M181.31,61.17q0,25.29-9.7,39.6t-26.7,14.31q-17.17,0-26.74-14.46T108.6,60q0-25.93,9.67-40.44T145.12,5.08q17.43,0,26.79,14.53T181.31,61.17Zm-36.67,39.06q10.08,0,15.16-10.08t5.07-30.25q0-19.57-5-29.82t-14.6-10.26q-10,0-15.11,10.18T125,60.15q0,19.35,5.08,29.71T144.64,100.23Z" transform="translate(-4.83 -0.41)"/>
        <path class="cls-1" d="M208.36,5.08l77.78.24L220.28,115.08l-17.41-.24,59.24-96.42-53.75-.3Z" transform="translate(-4.83 -0.41)"/>
        <path class="cls-1" d="M87.05,85.86H75.67V5.08L7.75,100l51.64-.14.31,15.26H75.82l-.43-15H87.05Zm-27.63,0H34.8L59.42,50.17Z" transform="translate(-4.83 -0.41)"/>
    </svg>
</div>
<script src="/assets/js/anime.min.js"></script>
<script>
    anime({
        targets: '.load #Ebene_1 path',
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: 'easeInSine',
        duration: 2000,
        delay: function (el, i) {
            return i * 250
        },
        direction: 'alternate',
        loop: true
    });
    $(window).on('load', function () {
        $(".wrapper").css("visibility", "visible")
        $(".load").hide()
        if ($hp >= $wp) {
            $('.bgvideo').css({
                'height': '100vh',
                'width': 'auto'
            })
        } else {
            $('.bgvideo').css({
                'height': 'auto',
                'width': '100vw'
            })
        }
    });
</script>