
<button id="bgm-btn">
    <i class="fas fa-bars"></i>
</button>
<div id="menu" class="brg-menu">
    <i class="fas fa-times bgm-close close-trigger"></i>
    <a href="#wwd" class="bgm-txt bgm-close close-trigger">WHAT WE DO</a>
    <a href="#case" class="bgm-txt close-trigger">CASES</a>
    <a href="#works" class="bgm-txt close-trigger">WORK</a>
    <a href="#platforms" class="bgm-txt close-trigger">PLATFORMS</a>
    <a href="#ab-alex" class="bgm-txt close-trigger">ABOUT</a>
    <div class="social-icons">
        <a class="social-icon" href="https://www.facebook.com/media4e7/"><img src="../img/icons/facebook-icon.png"></a>
        <a class="social-icon" href="https://www.instagram.com/4e7_media/"><img src="../img/icons/instagram-icon.png"></a>
        <a class="social-icon" href="https://www.youtube.com/channel/UC3uKn5tSiZKluggckQ4_Wwg"><img src="../img/icons/youtube-icon.png"></a>
        <script>
            $('document').ready(function() {
                $(".textslide").click(function() {
                    $("#brg-menu").addClass("menu-close");
                    $(".fas").removeClass("closeslide");
                    $(".bgm-txt").removeClass("textslide");
                });
            });
        </script>
    </div>
</div>