<nav>
    
    <div class="social-icons">
        <img src="../img/icons/facebook-icon.png">
        <img src="../img/icons/instagram-icon.png">
        <img src="../img/icons/youtube-icon.png">
    </div>
    <div class="site_links">
        <a href="#features">WHAT WE DO</a>
        <a href="#cases">CASES</a>
        <a href="#work">WORK</a>
        <a href="#alex">ABOUT</a>
    </div>
    <button id="bgm-btn">
      <i class="fas fa-bars"></i>
    </button>
    <div id="brg-menu" class="">
            <i class="fas fa-times bgm-close"></i>
            <a class="bgm-txt">WHAT WE DO</a>
            <a class="bgm-txt">CASES</a>
            <a class="bgm-txt">WORK</a>
            <a class="bgm-txt">ABOUT</a>
    </div>
</nav> 