<nav>
    
    <div class="social-icons">
      <a href="https://www.facebook.com/media4e7/"><img src="../img/icons/facebook-icon.png"></a>
      <a href="https://www.instagram.com/explore/locations/257660147/agency-4e7/"><img src="../img/icons/instagram-icon.png"></a>
      <a href="https://www.youtube.com/channel/UC3uKn5tSiZKluggckQ4_Wwg"><img src="../img/icons/youtube-icon.png"></a>
    </div>
    <div class="site_links">
        <a href="#features">WHAT WE DO</a>
        <a href="#cases">CASES</a>
        <a href="#work">WORK</a>
        <a href="#about-ph">ABOUT</a>
    </div>
    <button id="bgm-btn">
      <i class="fas fa-bars"></i>
    </button>
    <div id="brg-menu" class="">
            <i class="fas fa-times bgm-close"></i>
            <a href="#features" class="bgm-txt">WHAT WE DO</a>
            <a href="#cases"class="bgm-txt">CASES</a>
            <a href="#work"class="bgm-txt">WORK</a>
            <a href="#about-ph"class="bgm-txt">ABOUT</a>
            <div class="social-icons">
              <a href="https://www.facebook.com/media4e7/"><img src="../img/icons/facebook-icon.png"></a>
              <a href="https://www.instagram.com/explore/locations/257660147/agency-4e7/"><img src="../img/icons/instagram-icon.png"></a>
              <a href="https://www.youtube.com/channel/UC3uKn5tSiZKluggckQ4_Wwg"><img src="../img/icons/youtube-icon.png"></a>
          </div>
    </div>
</nav> 