<div id="plattforms" class="section">
    <div class="fp-bg">
    <div class="sec-title white"><h1>PLATTFORMS</h1><div class="line"></div></div>
    <div class="fp-controlArrow fp-prev p-prev"></div>
    <div class="plattform-box owl-carousel">
        {% for post in site.plattforms %}
        <a href="{{ post.url }}" style="background-image: url('{{site.cloud_host}}{{ post.tnimg }}');">
            <div class="hover-cont">
                {{ post.title}}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="fp-controlArrow fp-next p-next"></div>
</div>
</div>