<div id="plattforms" class="section">
    <div class="fp-bg">
    
    <!--<i class="fas fa-chevron-left slidebtn-o" style="display:none;"></i>-->
    <div class="flex-full-center">
        <div class="title-box f-t"><div class="sec-title white m-r"><h1>PLATTFORMS</h1><div class="line big"></div></div></div>
    <div class="p-prev"><img class="arrow" src="{{site.cloud_host}}/v1591961086/arrow_wev8s6.png"></div>
    <div class="tn-cont plattform-box">
        {% for post in site.plattforms %}
        <a class="img-cont c-img" href="{{ post.url }}" style="background-image: url('{{site.cloud_host}}{{ post.tnimg }}'); background-size: cover;">
            <!--<p class="mobile mobile-title">{{ post.title}}</p>-->
            <div class="hover-cont desktop">
                {{ post.title}}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="p-next"><img class="arrow" src="{{site.cloud_host}}/v1591961086/arrow_wev8s6.png"></div>
   </div>
    <!--<i class="fas fa-chevron-right slidebtn-c"></i>-->
</div>
</div>
