<div id="tele" class="section">
  <div class="fp-bg">
    <div class="flex-full-center">
      <div class="title-box f-t"><div class="sec-title white m-r"><h1>TELESCOPE</h1><div class="line big"></div></div></div>

      <div id="tele-gal" class="tn-cont">
        <a class="tele-link" href="{{site.cloud_host}}/v1591265453/4e7_Telescope_rmwzvf.pdf" target="_blank">
          <img class="tele-img"
            src="{{site.cloud_host}}/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1591265436/4e7_Telescope-page-001_ihleag.jpg">
        </a>
        <a class="tele-link" target="_blank"
          href="{{site.cloud_host}}/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1591175218/4e7_Telescope_-_What_Can_We_Do_ezzgqo.pdf">
          <img class="tele-img"
            src="{{site.cloud_host}}/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1591175757/4e7_Telescope_-_What_Can_We_Do_-page-001_f1euqk.jpg">
        </a>
        <a class="tele-link" href="{{site.cloud_host}}/v1591266606/4e7_Telescope_copy_2_sxe5yj.pdf" target="_blank">
          <img class="tele-img" src="{{site.cloud_host}}/v1591266670/4e7_Telescope_copy_2-page-001_cuitln.jpg">
        </a>
      </div>
    </div>

  </div>
</div>