<div id="tele" class="section">
    <div class="fp-bg">
        <img class="tele-title" src="{{site.cloud_host}}/v1591178067/newtele_dmubzf.svg">
      </div>
    <div id="tele-gal" class="tn-cont">
        
        <a class="tele-link" href="{{site.cloud_host}}/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1591175218/4e7_Telescope_-_What_Can_We_Do_ezzgqo.pdf">
          <img class="tele-img"
            src="{{site.cloud_host}}/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1591175757/4e7_Telescope_-_What_Can_We_Do_-page-001_f1euqk.jpg">
        </a>
      </div>
    
  </div>