<div id="work">
    <img class="desktop" src="../img//4e7_work.svg">
    <img class="mobile" src="https://res.cloudinary.com/media4e7/image/upload/v1560353453/4e7_work_boa1bb.svg">
    <div class="tn-cont work-cont">
        {% for post in site.work %}
        <a class="img-cont" href="{{ post.url }}" style="background-image: url('{{site.cloud_host}}{{ post.tnimg }}');">
            <div class="hover-cont">
                {{ post.title}}
            </div>
        </a>
        {% endfor %}
    </div>
    <button type="button" class="more">More</button>
    <button type="button" class="less">Close</button>
</div>