.detail-wrapper,
.cases-wrapper {
    width: 1270px;
    margin: 0 auto;
    margin-bottom: -300px;
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        /* ratio 16x9 */
        height: 0;
        overflow: hidden;
        width: 100%;
        height: auto;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
    .arrow-box {
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        margin-bottom: 5vh;
        margin-top: 10px;
    }
    .grid {
        display: grid;
    }
    .flex {
        display: flex;
        justify-content: center;
        img {
            margin-right: 10px;
        }
        .yt-tn {
            margin-right: 10px;
        }
    }
    .iframe-cont {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
    .yt-tn {
        height: 170px;
        width: 310px;
    }
    .play {
        z-index: 99;
        position: relative;
        top: -250px;
        opacity: 0.7;
    }
    #gallery {
        flex-wrap: wrap;
        min-height: 40vh;
        width: 60vw;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(8, 150px);
        grid-gap: 10px;
        grid-auto-rows: 250px;
        grid-auto-flow: dense;
        margin: 0 auto;
        .big {
            grid-column: auto/ span 2;
        }
        .yt-tn {
            grid-column: auto/ span 2;
            height: 250px;
            img {
                width: 310px;
                height: 250px;
            }
        }
        .iframe-cont {
            width: 100vw;
            padding-bottom: 51%;
        }
    }
    a {
        color: black;
    }
    .title-box {
        border-bottom: 5px solid black;
        display: flex;
        height: 50px;
        margin-bottom: 10px;
        margin-top: 50px;
        align-content: center;
        justify-content: space-between;
        i {
            font-size: 36px;
            color: black;
            margin: 0;
        }
        h3 {
            text-transform: uppercase;
            width: 95%;
            font-size: 36px;
            margin: 0;
        }
        a {
            color: black;
        }
    }
}

#pbOverlay.show {
    margin-top: -6vh;
}