#footer {
    flex-direction: column;
    position: relative;
    bottom: 0;
    background-size: cover;
    .fp-bg{
        background-position: center 52%;
    }
    .fp-tableCell{
        background: rgba(0,0,0,0.7);
    }
    h2 {
        font-size: 30px;
        margin: 10px 0;
        color: white;
    }
    p {
        font-size: 14px;
        line-height: 1.65;
        margin: 5px 0;
        color: white;
    }
    a {
        font-size: 14px;
        color: white;
        text-decoration-line: none;
    }
    .first_row {
        display: flex;
        flex-direction: row;
        width: 60vw;
        padding: 40px 20vw;
        justify-content: space-between;
        .touch {
            width: 40%;
        }
        .links {
            width: 30%;
            display: flex;
            flex-direction: column;
            right: 20vw;
            a {
                width: 100%;
                color: white;
                text-decoration-line: none;
            }
        }
    }
    .second_row {
        display: flex;
        flex-direction: row;
        width: 60vw;
        padding: 20px 20vw;
        color: #ffff;
        position: absolute;
        bottom: 10px;
        a {
            color: white;
        }
        .link {
            margin-left: 20px;
        }
        .social_footer {
            margin: 5px 4vw;
            a {
                color: white;
                img {
                    width: 30px;
                    margin: 0;
                }
            }
        }
        p {
            width: 40%;
            margin-top: 8px;
        }
        div {
            width: 25%;
            margin-top: 12px;
            display: flex;
            justify-content: space-between
        }
    }
}