.click-tr {
    pointer-events: none;
}

html {
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}

body {
    height: 100%;
    margin: 0;
    font-family: Rubik;
    color: #2c2c26;
    h3 {
        font-size: 24px;
    }
    a {
        font-size: 24px;
        font-weight: 500;
    }
}

.wrapper {
    min-height: 100%;
}

#landingpage {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    top: 0;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    .fp-tableCell{
        overflow: hidden;
    }
    video {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    

        .logo {
            z-index: 59;
            opacity: 1;
            position: fixed;
            top: 40vh;
            left: 45vw;
             width: 10vw;
    }
}

#campaigns {
    background-color: #D4A692;
    .mobile-camp {
        display: none;
    }
    img {
        margin: 10% 20%;
        width: 60%;
        height: auto;
    }
}
.m-eye-links{
    display: none;
}
#eye {
    width: 60vw;
    margin: 0 auto;
    img {
        width: 25vw;
    }
    .eye-links {
        position: absolute;
        top: 17vh;
        right: 10vw;
        display: flex;
        justify-content: space-between;
        width: 20vw;
        img {
            width: auto;
            height: 4vw;
        }
    }
    .eye-text {
        width: 35vw;
        position: absolute;
        top: 33vh;
        left: 14vw;
    }
    p {
        width: 50vw;
        font-size: 1.5vw;
        text-align: justify;
    }
}

#mobile-eye {
    display: none;
}

#features {
    .feat_cont {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 2;
        button {
            display: none;
        }
        .mfeat-box{
            display: none;
        }
        .feat-box {
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
            display: flex;
            img {
                width: 90%;
                margin: 0 5%;
            }
            .hover-cont {
                padding: 3vw 5%;
                width: 50vw;
                font-size: 1.5vw;
                color: white;
                height: 50vh;
                flex-direction: column-reverse;
                display: flex;
                padding: 25vh 25vw;
                z-index: 2;
                background: rgba(0, 0, 0, 0.7);
                ul.dashed {
                    list-style: none;
                    padding-left: 0;
                }
                ul.dashed>li {
                    margin-left: 20px;
                }
                /* Prevent nested li's from getting messed up */
                ul.dashed>li::before {
                    content: "-";
                    margin-left: -15px;
                }
            }
        }
    }
}
.img-slide{
    animation: imgslide 3s;
}
.more-slide{
    animation: more 1s forwards;
}
.next-slide{
    animation: morenext 1s forwards;
}
.lesser-slide{
    animation: morenext 1s forwards;
    animation-direction: reverse;
}
.less-slide{
    animation: more 1s forwards;
    animation-direction: reverse;
}
#cases, #work{
    i{
        position: absolute;
        font-size: 10vh;
        color: white;
        top: 45vh;
    }
    .fa-chevron-left{
        left: 10vw;
    }
    .fa-chevron-right{
        right: 10vw;
    }
}
#cases {
    background-color: #7a9fa7;
   
    button {
        background: none;
        border: none;
        font-family: Rubik;
        font-size: 20px;
        color: white;
        width: 20vw;
        margin: 5vh 40vw;
        font-weight: 500;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .case-less,
    .case-more {
        display: none;
    }
    img {
        width: 60%;
        height: auto;
        position: absolute;
        top: 10vh;
        left: 20vw;
    }
    .tn-cont {
        width: 60vw;
        height: 20vw;
        margin: 0 auto;
        display: block;
        flex-direction: row;
        z-index: 2;
        color: transparent;
        overflow: hidden; 
        :nth-child(even) .hover-cont {
            background-color: rgb(228, 214, 187)!important;
        }
        p {
            text-align: center;
            margin-bottom: -50%;
             :hover {
                animation: bg-switch 0.5s forwards;
            }
        }
    }
}

.img-cont {
    width: 20vw;
    text-decoration-line: none;
    background-size: cover;
    display: flex;
    text-transform: uppercase;
    color: #a39a9b;
    text-align: center;
    flex-direction: column-reverse;
    height: 20vw;
    margin: 0;
    &:hover .hover-cont {
        animation: hovereffekt 0.2s ease-out forwards;
    }
    img {
        height: auto;
        width: 100%;
        margin: 0;
    }
    .hover-cont {
        padding: 0;
        width: 20vw;
        height: 0;
        background-color: #bfd0d4;
        opacity: 0;
        &:hover {
            animation: hovereffekt 0.2s ease-out forwards;
        }
    }
}

#work {
    background-color: #a2999c;
    
    .less {
        display: none;
    }
    img {
        width: 60vw;
        height: auto;
        position: absolute;
        top: 10vh;
        left: 20vw;
    }
    .tn-cont {
        width: 60vw;
        margin: 0 auto;
        display: block;
        flex-direction: row;
        height: 20vw;
        overflow: hidden;
        z-index: 2;
         :nth-child(even) .hover-cont {
            background-color: rgb(228, 214, 187)!important;
        }
        /*:hover{
      animation: bg-switch-ye 1s forwards;
    }
    :hover{
      :nth-child(odd){
        animation: bg-switch-gr 1s forwards;
      }
    }*/
    }
}

#plattforms {
    padding: 5vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dbc8a0;
    z-index: 2;
    img {
        width: 50%;
        height: auto;
        margin: 0 25%;
        margin-bottom: 5vh;
    }
    .plattform-box {
        width: 40vw;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
         :nth-child(even) .hover-cont {
            background-color: rgb(228, 214, 187)!important;
        }
        a {
            width: 20vw;
            height: 20vw;
            background-size: cover;
            text-align: center;
            text-decoration-line: none;
            background-size: cover;
            display: flex;
            overflow: hidden;
            text-transform: uppercase;
            color: #a39a9b;
            flex-direction: column-reverse;
            &:hover .hover-cont{
                animation: bighovereffekt 0.2s ease-out forwards;
            }
            .hover-cont {
                width: 10vw;
                height: 2vw;
                padding: 14vw 5vw;
                background-color: #bfd0d4;
                background-color: #bfd0d4;
                opacity: 0;
               
            }
        }
    }
}

#about-ph {
    height: 85vh;
    background: transparent;
}

#alex {
    display: flex;
    flex-wrap: wrap;
    .mobile-alex {
        display: none;
    }
    .about_text{
        position: absolute;
        right: 20vw;
        top: 20vh;
    }
    .main-img{
        left: 20vw;
    }
}

#selma {
    position: sticky;
    top: 0;
    z-index: -10;
    .main-img{
        right: 20vw;
    }
}

#about-title {
    position: absolute;
    top: 10vh;
    width: 60vw;
}
.mfeat-cont{
    display: none;
}
.mobileab {
    display: none;
    opacity: 0;
}

.about_us {
    width: 60vw;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vh 20vw;
    background: white;
    img {
        width: 50%;
    }
    .main-img {
        width: 25vw;
        height: 45vh;
        position: absolute;
        top: 35vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .about_text {
        max-width: 30vw;
        img {
            width: 100%;
            height: auto;
        }
        p {
            margin: 0;
            font-size: 1.2vw;
        }
    }
}

#press {
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: column;
    position: relative;
    .big {
        grid-column: auto/ span 2;
    }
    #press-gal {
        display: grid;
        grid-template-columns: repeat(6, 10vw);
        grid-auto-rows: 180px;
        grid-gap: 10px;
        grid-auto-flow: dense;
        margin: 0 auto;
        height: 370px;
        width: 60vw;
        overflow: hidden;
        a{
            overflow: hidden;
        }
    }
    .press-title {
        width: 60vw;
        margin: 5vh 20vw;
    }
    .press-box {
        height: 180px;
        overflow: hidden;
    }
    .press-more,
    .press-less {
        color: #2c2c26;
    }
    .press-less {
        display: none;
    }
}
.mcamp-img{
    display: none;
}
#impressum {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

.mobile {
    display: none;
}