body {
  font-family: Rubik;
}

body .load {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999999999999999999999999;
}

body .load img {
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  body .section {
    overflow: hidden;
  }
}

body .wrapper {
  visibility: hidden;
}

body .invis {
  visibility: hidden;
}

@media (max-width: 576px) {
  body .invis {
    display: none !important;
  }
}

body .fp-controlArrow.fp-prev {
  left: 0;
  border: none;
  width: 2vw;
  height: 3.6vw;
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1591961086/arrow_wev8s6.png") no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-transform: rotate(179deg);
          transform: rotate(179deg);
}

body .fp-controlArrow.fp-next {
  right: 0;
  border: none;
  width: 2vw;
  height: 3.6vw;
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1591961086/arrow_wev8s6.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}

body .hover-cont h3 {
  text-transform: uppercase;
  color: #a39a9b;
  text-align: center;
  margin: 5px auto;
  font-size: 24px;
}

@media (max-width: 992px) {
  body .hover-cont h3 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  body .hover-cont h3 {
    font-size: 9px;
  }
}

body .fp-bg {
  z-index: 2;
}

body p {
  font-size: 18px;
}

@media (max-width: 576px) {
  body p {
    font-size: 10px;
  }
}

body .gallery {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

body .gallery .boxe {
  width: 80%;
  max-width: 900px;
}

@media (max-width: 576px) {
  body .gallery .boxe {
    width: 80%;
  }
}

body .gallery .boxe .title-box {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .gallery .boxe .title-box h3 {
  color: #ffffff;
  margin: 5px;
  text-transform: uppercase;
}

body .gallery .boxe .title-box .gal-close {
  background: none;
  padding: 0;
  border: none;
  color: white;
  margin-right: 5px;
  font-size: 22px;
}

body figure {
  margin: 0;
  width: 100%;
}

body figure img {
  width: 100%;
}

body .fp-controlArrow.fp-next {
  right: 50px;
}

@media screen and (max-width: 576px) {
  body .fp-controlArrow.fp-next {
    top: unset;
    bottom: 5%;
  }
}

body .fp-controlArrow.fp-prev {
  left: 50px;
}

@media screen and (max-width: 576px) {
  body .fp-controlArrow.fp-prev {
    top: unset;
    bottom: 5%;
  }
}

body .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .title-box .sec-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .title-box .sec-title h3 {
  font-size: 50px;
}

@media screen and (max-width: 1600px) {
  body .title-box .sec-title h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  body .title-box .sec-title h3 {
    font-size: 14px;
  }
}

body .title-box .sec-title h1 {
  font-size: 100px;
}

@media screen and (max-width: 1600px) {
  body .title-box .sec-title h1 {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  body .title-box .sec-title h1 {
    font-size: 75px;
  }
}

@media screen and (max-width: 576px) {
  body .title-box .sec-title h1 {
    font-size: 40px;
  }
}

body .title-box .sec-title .line {
  height: 10px;
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #000;
}

@media screen and (max-width: 576px) {
  body .title-box .sec-title .line {
    height: 4px;
  }
}

body .title-box .sec-title .big {
  height: 20px;
}

@media screen and (max-width: 1600px) {
  body .title-box .sec-title .big {
    height: 18px;
  }
}

@media (max-width: 992px) {
  body .title-box .sec-title .big {
    height: 15px;
  }
}

@media screen and (max-width: 576px) {
  body .title-box .sec-title .big {
    height: 9px;
  }
}

body .prev, body .next {
  width: 1%;
  margin-left: 50px;
}

@media screen and (max-width: 576px) {
  body .prev, body .next {
    position: absolute;
    bottom: 15%;
    width: 5%;
    right: 20%;
  }
}

body .prev img, body .next img {
  width: 100%;
}

body .prev {
  margin: 0;
  margin-right: 50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: unset;
  left: 20%;
}

body .title-box.f-t {
  width: 80%;
  position: absolute;
  top: 50px;
  padding: 0 7.5%;
}

@media screen and (max-width: 576px) {
  body .title-box.f-t {
    top: 15px;
  }
}

body .m-r h1, body .m-r h3 {
  margin: 0;
  margin-right: 25px;
}

@media screen and (max-width: 576px) {
  body .m-r h1, body .m-r h3 {
    margin-right: 5px;
  }
}

body .m-l h1, body .m-l h3 {
  margin: 0;
  margin-left: 25px;
}

@media screen and (max-width: 576px) {
  body .m-l h1, body .m-l h3 {
    margin-left: 5px;
  }
}

body .title-box .white h1 {
  color: #fff;
}

body .title-box .white h3 {
  color: #fff;
}

body .title-box .white .line {
  background-color: #fff;
}

body .flex-full-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

body .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #landingpage .fp-bg {
  z-index: -1;
  background: url("https://res.cloudinary.com/media4e7/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1593507821/lpbg_leujlp.png");
  background-size: cover;
  background-position: bottom;
}

body #campaigns .fp-bg {
  background-color: #D4A692;
}

body #campaigns img.camp-img {
  max-width: 80%;
}

body #campaigns .mcamp-img {
  display: none;
}

body #eye .cont {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  body #eye .cont {
    width: 80%;
  }
}

body #eye .flexbox {
  width: 100%;
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1560779600/4e7-auge_jrc6jl.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  body #eye .flexbox {
    background: none;
  }
}

body #eye .flexbox .title-box {
  width: 65%;
}

@media screen and (max-width: 576px) {
  body #eye .flexbox .title-box {
    width: 100%;
  }
}

body #eye .flexbox .mobile-eye {
  display: none;
  width: 100%;
  height: 30vh;
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1560779600/4e7-auge_jrc6jl.jpg");
  background-size: cover;
}

@media screen and (max-width: 576px) {
  body #eye .flexbox .mobile-eye {
    display: block;
    height: 25vh;
  }
}

body #eye .flexbox .eye-links {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

@media screen and (max-width: 576px) {
  body #eye .flexbox .eye-links {
    margin-bottom: 10px;
    width: 100%;
  }
}

body #eye .flexbox .eye-links a {
  width: 20%;
}

body #eye .flexbox .eye-links img {
  width: 100%;
}

body #eye .flexbox .eye-text {
  width: 70%;
  height: 44%;
  display: block;
}

body #eye p {
  width: 100%;
  font-size: 25px;
  text-align: justify;
}

@media screen and (max-width: 1100px) {
  body #eye p {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  body #eye p {
    font-size: 12px;
  }
}

#features .fp-bg {
  z-index: -1;
}

#features .f-one {
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1559997739/advertising_z1cedf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #features .f-one {
    background: url("https://res.cloudinary.com/media4e7/image/upload/v1561545277/advertising_mobile_f5a8gh.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#features .f-two {
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1559997738/branded-entertainment_xdxrnf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #features .f-two {
    background: url("https://res.cloudinary.com/media4e7/image/upload/v1561545531/branded_entertainment-mobile_mnxzaw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#features .f-tree {
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1559997738/branded-publishing_wob1m5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #features .f-tree {
    background: url("https://res.cloudinary.com/media4e7/image/upload/v1561545276/branded_publishing-mobile_eftijk.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#features .f-four {
  background: url("https://res.cloudinary.com/media4e7/image/upload/v1560344740/social-media-m-anagement2_wbvww1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #features .f-four {
    background: url("https://res.cloudinary.com/media4e7/image/upload/v1561545531/branded_entertainment-mobile_mnxzaw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

#features .flex-full-center {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  width: 100%;
}

#features .content-cont {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (max-width: 576px) {
  #features .content-cont {
    width: 70%;
  }
}

#features li {
  font-size: 25px;
  color: white;
}

@media screen and (max-width: 1100px) {
  #features li {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  #features li {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  #features .dashed {
    padding: 20px;
  }
}

#cases .fp-bg, #plattforms .fp-bg {
  background-color: #7a9fa7;
}

#cases .tn-cont, #plattforms .tn-cont {
  width: 70%;
}

#cases .img-cont, #plattforms .img-cont {
  width: 14vw;
  height: 23vw;
  position: relative;
}

@media screen and (max-width: 576px) {
  #cases .img-cont, #plattforms .img-cont {
    height: 65vw;
  }
}

#cases .hover-cont, #plattforms .hover-cont {
  width: 100%;
  height: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background-color: #bfd0d4;
}

@media (max-width: 1050px) {
  #cases .hover-cont, #plattforms .hover-cont {
    height: auto;
    background: rgba(0, 0, 0, 0.6);
  }
}

#cases .slick-track :nth-child(even) .hover-cont, #plattforms .slick-track :nth-child(even) .hover-cont {
  background-color: #e4d6bb;
}

@media (max-width: 1050px) {
  #cases .slick-track :nth-child(even) .hover-cont, #plattforms .slick-track :nth-child(even) .hover-cont {
    height: auto;
    background: rgba(0, 0, 0, 0.6);
  }
}

#work-1 .fp-bg {
  background-color: #a2999c;
  z-index: -1;
}

#work-1 .flex-full-center {
  z-index: 99;
}

#work-1 .work-cont {
  height: auto;
}

@media (max-width: 576px) {
  #work-1 .work-cont {
    height: 100vh;
  }
}

#work-1 .work-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#work-1 .inner-cont {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 0;
  margin: 200px auto;
}

@media screen and (max-width: 576px) {
  #work-1 .inner-cont {
    width: 70%;
    margin: 0px auto;
  }
}

#work-1 .img-box {
  padding-bottom: 100%;
  background-size: cover;
}

#work-1 .hover-cont {
  width: 100%;
  height: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  bottom: 0;
  background-color: #bfd0d4;
}

@media (max-width: 1050px) {
  #work-1 .hover-cont {
    height: auto;
    background: rgba(0, 0, 0, 0.6);
  }
}

#work-1 .img-cont:nth-child(even) .hover-cont {
  background-color: #e4d6bb;
}

@media (max-width: 1050px) {
  #work-1 .img-cont:nth-child(even) .hover-cont {
    height: auto;
    background: rgba(0, 0, 0, 0.6);
  }
}

#work-1 .img-cont {
  width: 20%;
  height: auto;
  position: relative;
}

@media screen and (max-width: 576px) {
  #work-1 .img-cont {
    width: 24%;
  }
}

#work-1 .img-box {
  padding-bottom: 100%;
  background-size: cover;
}

#plattforms .fp-bg {
  background-color: #dbc8a0;
}

.about_us .about-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
}

@media screen and (max-width: 1285px) {
  .about_us .about-box {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1100px) {
  .about_us .about-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 120px;
  }
}

@media screen and (max-width: 576px) {
  .about_us .about-box {
    width: 70%;
    margin-top: 18px;
  }
}

.about_us .about-box .main-img {
  width: 40%;
}

@media (max-width: 992px) {
  .about_us .about-box .main-img {
    width: 100%;
    height: 38vh;
  }
}

@media screen and (max-width: 576px) {
  .about_us .about-box .main-img {
    width: 100%;
    height: 25vh;
  }
}

.about_us .about-box img.ab-txt {
  width: 100%;
}

.about_us .about-box .about_text {
  width: 50%;
}

@media (max-width: 992px) {
  .about_us .about-box .about_text {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  #selma .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 576px) {
  #selma .about-box .main-img {
    margin-top: 25px;
  }
}

#press #press-gallery {
  width: 80% !important;
}

@media screen and (max-width: 1600px) {
  #press #press-gallery {
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  #press #press-gallery {
    display: none !important;
  }
}

#press .m-g-display {
  width: 70%;
  height: 70vh;
  margin: 80px auto;
  overflow: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

#press #m-press-gallery {
  width: 100%;
}

#press-mobile {
  display: none;
}

#tele-gal {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  #tele-gal {
    width: 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#tele-gal a.tele-link {
  width: 30%;
}

@media screen and (max-width: 1100px) {
  #tele-gal a.tele-link {
    width: 100%;
    margin-bottom: 25px;
  }
}

#tele-gal img.tele-img {
  width: 100%;
}

#tele .fp-bg {
  background-color: #a2999c;
}

#footer .fp-bg {
  z-index: -1;
}

.img-cont:hover .hover-cont {
  -webkit-animation: newhover 0.3s;
          animation: newhover 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/*# sourceMappingURL=main.css.map */