.current {
    color: green;
  } 
html, body {
  height: 100%;
  margin: 0;
  font-family: Rubik;
  h3{
    font-size: 24px;
  }
  a{
    font-size: 24px;
  }
}
.wrapper {
  min-height: 100%;
  margin-bottom: -300px;
}
#landingpage{
  width: 100vw;
  height: 100vh;
  margin-top: -70px;
  top: 0;
  margin-bottom: 360px;
  z-index:2;
  video{
    width: 100%;
    z-index:0;
  }
}
#campaigns{
  width: 100vw;
  height: 100vh;
  z-index: 2;
  img{
    margin:0 auto;
    width: 100%;
    height: auto;
  }
}
#eye{
  height: 120vh;
  z-index:1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#features{
  .feat_cont{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
    div{
      width: 50vw;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 40%;
    }
  }
}
#cases{
  background-color: #7a9fa7;
  .cases_cont{
    width: 60vw;
    padding: 30px 20vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding-bottom: 14vh;
    z-index: 2;
    color: transparent;
    img{
      width: 50%;
      height: auto;
      margin: 10vh 25%;
    }
    a{
      width: 33.333%;
      height: auto;
      text-decoration-line: none;
      color: transparent;
      background-size: cover;
      padding-bottom: 33.333%;
      text-transform: uppercase;
      height: 0;
      p{
        text-align: center;
        margin-bottom: -50%;
        
        :hover{
          animation: bg-switch 0.5s forwards;
        }
      }
    }
  }
}
#work{
  background-color: #a2999c;
  button{
    background: none;
    border: none;
    font-family: Rubik;
    font-size: 24px;
    color: white;
    width: 10vw;
    margin: 5vh 45vw;
  }
  img{
      width: 50%;
      height: auto;
      margin: 10vh 25%;
    }
  .work-cont{
    width: 60vw;
    padding: 0 20vw;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60vw;
    overflow: hidden;
    z-index: 2;
    /*:hover{
      animation: bg-switch-ye 1s forwards;
    }
    :hover{
      :nth-child(odd){
        animation: bg-switch-gr 1s forwards;
      }
    }*/
    
    a{
      width: 33.333%;
      text-decoration-line: none;
      color: transparent;
      background-size: cover;
      padding-bottom: 33.333%;
      display: flex;
      text-transform: uppercase;
      p{
        text-align: center;
        margin-bottom: -50%;
        width: 100%;
        margin-top: 45%;
      }
    }
  }
}
#platforms{
  width: 60vw;
  padding: 10vh 20vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #dbc8a0;
  z-index: 2;
  img{
    width:50%;
    height: auto;
    margin: 0 25% 10vh 25%;

  }
  div{
    width: 50%;
    padding-top: 50%;
    background-size: cover;
  }
}
.about_us{
  width: 70vw;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10vh;
  .main{
    margin: 10vh 25%;
    width:50%;
  }
  .about_text{
    max-width: 40%;
  }
}