@media (max-width: 1500px) {
  .cases-wrapper,
  .detail-wrapper {
    width: 940px;
  }
  .cases-wrapper #gallery.flex .half .play,
  .detail-wrapper #gallery.flex .half .play {
    top: 15%;
  }
  .cases-wrapper #gallery,
  .detail-wrapper #gallery {
    -ms-grid-columns: (150px)[6];
        grid-template-columns: repeat(6, 150px);
  }
}

@media (max-width: 1100px) {
  .detail-wrapper #gallery.flex .half:nth-child(even) .play {
    top: 75%;
  }
  .detail-wrapper #gallery.flex .half {
    width: 100%;
  }
  .detail-wrapper #gallery.flex .half .play {
    top: 22%;
    margin-left: 350px;
  }
  #about-title {
    padding: 0;
  }
  #alex .main-img {
    left: 0;
    width: 100%;
    margin: 0;
  }
  #alex .about_text {
    top: 50vh;
  }
  #selma .about_text {
    top: 50vh;
  }
  .about_us .main-img {
    width: 100%;
    top: 10vh;
  }
  .about_us .about_text {
    z-index: 3333;
    background: white;
    position: absolute;
    max-width: 100%;
  }
  .about_us .about_text .ab-p {
    font-size: 2vw;
  }
  #plattforms .plattform-box {
    top: 30%;
  }
  #plattforms .plattform-box a {
    height: auto;
  }
  #press #press-gal {
    -ms-grid-columns: (120px)[6];
        grid-template-columns: repeat(6, 120px);
    margin: 0 auto;
    width: 720px;
  }
}

@media (max-width: 800px) {
  #bgm-btn {
    top: 5vw;
    right: 5vw;
  }
  nav .social-icons,
  nav .site_links {
    display: none;
  }
  nav .social-icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .social-icons img {
    width: 70%;
  }
  #menu .fa-times {
    margin-bottom: 5vh;
  }
  #menu a {
    margin-top: 30px;
    font-size: 25px;
  }
  #menu .social-icons {
    width: 70%;
    margin: 0 15%;
  }
  #menu .social-icons .social-icon img {
    width: 70%;
  }
  #plattforms .plattform-box {
    width: 60vw;
    height: 20vw;
  }
  #plattforms .plattform-box a {
    height: 20vw;
  }
  #work .tn-cont, #cases .tn-cont {
    width: 60vw;
    height: 20vw;
  }
  #campaigns {
    height: auto;
  }
  #campaigns .mobile-camp {
    display: block !important;
    width: 100vw;
    margin: 0;
  }
  .camp-img {
    display: block;
  }
  #eye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #eye .eye-img {
    top: 18vh;
    position: absolute;
    width: 40vw;
  }
  #eye .eye-links {
    right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #eye .eye-links a img {
    height: 7vw;
  }
  #eye .eye-text {
    position: absolute;
    top: 30vh;
    left: 20vw;
    width: 40vw;
  }
  #eye p {
    position: absolute;
    top: 40vh;
    font-size: 3vw;
    width: 60vw;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none !important;
  }
  .fixed-p {
    position: fixed;
    width: 70vw;
    background-size: contain;
    top: 40vh;
    margin: 0 15vw;
    z-index: -120;
    font-size: 25px;
  }
  .m-eye-links {
    position: fixed;
    top: 5vh;
    left: 25vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50vw;
    z-index: -120;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-eye-links img {
    width: 10vw;
    height: auto;
  }
  #mobile-eye {
    display: block;
    position: relative;
    width: 70vw;
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 15vh;
    margin: 0 15vw;
    z-index: -120;
  }
  .cases-wrapper,
  .detail-wrapper {
    width: 630px;
  }
  .cases-wrapper .play,
  .detail-wrapper .play {
    top: -250px;
  }
  .cases-wrapper #gallery.flex .half:nth-child(even) .play,
  .detail-wrapper #gallery.flex .half:nth-child(even) .play {
    top: 71%;
  }
  .cases-wrapper #gallery.flex .half,
  .detail-wrapper #gallery.flex .half {
    width: 100%;
  }
  .cases-wrapper #gallery.flex .half .play,
  .detail-wrapper #gallery.flex .half .play {
    top: 22%;
    margin-left: 220px;
  }
  .cases-wrapper #gallery,
  .detail-wrapper #gallery {
    -ms-grid-columns: (150px)[4];
        grid-template-columns: repeat(4, 150px);
  }
  #landingpage {
    background-image: url("https://res.cloudinary.com/media4e7/image/upload/c_fill,h_1300,w_1038/v1561457574/workrepublic_wien11_anrdmu.jpg");
  }
  #landingpage .logo {
    left: 40vw;
    width: 20vw;
  }
  #landingpage video {
    width: auto;
    height: 100vh;
  }
  #features .feat_cont .feat-box {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }
  #features .feat_cont .feat-box:hover .hover-cont {
    -webkit-animation: mobilefeathovereffekt 0.2s ease-out forwards;
            animation: mobilefeathovereffekt 0.2s ease-out forwards;
  }
  #features .feat_cont .feat-box .hover-cont {
    padding: 4vh 5%;
    width: 90%;
    font-size: 12px;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #features .feat_cont .feat-box .hover-cont img {
    margin-bottom: 20px;
  }
  #features .feat_cont .feat-box .hover-cont ul {
    margin: 0 10%;
    margin-bottom: 3vh;
    font-size: 20px;
    width: 80%;
  }
  #work button {
    font-size: 25px;
  }
  #plattforms .plattform-box {
    top: 33%;
  }
  .des-alex {
    display: none;
  }
  #alex {
    padding: 0;
  }
  #alex .about_text {
    right: 5vw;
    top: 43vh;
  }
  #alex .mobile-alex {
    display: block;
    left: 5vw;
    width: 90vw;
    top: 10vh;
    height: 500px;
  }
  #about-title {
    left: 5vw;
    width: 90vw;
    padding: 3vh 2px;
    background: white;
  }
  #selma {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  #selma .main-img {
    width: 90vw;
    height: 600px;
    margin-top: 0 !important;
    top: 0;
    right: 5vw;
  }
  #selma .about_text {
    width: 90vw;
    top: 40vh;
    background: white;
    right: 5vw;
    position: absolute;
    z-index: 40;
  }
  .about_us {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about_us .main-img {
    width: 100%;
    height: 600px;
    margin-top: 0 !important;
    top: 0;
    right: 5vw;
  }
  .about_us img {
    width: 100%;
    height: auto;
  }
  .about_us .about_text {
    right: 5vw;
    max-width: 90vw;
    top: 40vh;
  }
  .about_us .about_text .ab-p {
    font-size: 23px;
  }
  #press {
    width: 480px;
    left: 0;
    margin: 0 auto;
  }
  #press .press-title {
    width: 100%;
    margin: 10vh 0;
  }
  #press #press-gal {
    -ms-grid-columns: (120px)[4];
        grid-template-columns: repeat(4, 120px);
  }
  #press button {
    width: 60vw;
    margin: 5vh 0;
  }
  #press .press-box {
    height: 20vw;
    overflow: hidden;
  }
  #press .press-more {
    display: inline-block;
  }
  #footer .first_row {
    width: 70vw;
    padding: 40px 15vw;
  }
  #footer .first_row .touch {
    margin-right: 100px;
  }
  #footer .second_row {
    width: 70vw;
    padding: 0 15vw;
  }
}

@media screen and (max-width: 450px) {
  body h3 {
    font-size: 14px;
  }
  body a {
    font-size: 14px;
    font-weight: 500;
  }
  .slick-slide {
    margin: 0 10px;
  }
  .fp-prev, .fp-next {
    display: none;
  }
  #campaigns img {
    display: none;
  }
  #campaigns .mobile-camp {
    display: block;
  }
  #eye {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80vw;
  }
  #eye .eye-img {
    width: 50vw;
    position: absolute;
    top: 10vh;
  }
  #eye .eye-text {
    width: 50vw;
    position: absolute;
    top: 23vh;
    left: 30vw;
  }
  #eye .eye-links {
    position: absolute;
    top: 10vh;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30vw;
  }
  #eye .eye-links a {
    width: 12vw;
  }
  #eye .eye-links a img {
    width: 10vw;
    height: auto;
  }
  #eye p {
    font-size: 4vw;
    position: absolute;
    top: 30vh;
    width: 80vw;
  }
  .fixed-p {
    position: fixed;
    width: 89vw;
    background-size: contain;
    top: 35vh;
    margin: 0 6vw;
    z-index: -120;
    font-size: 12px;
  }
  #mobile-eye {
    display: block;
    position: fixed;
    width: 90vw;
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    top: 15vh;
    margin: 0 5vw;
    z-index: -120;
  }
  .cases-wrapper {
    width: 310px;
  }
  .cases-wrapper .title-box {
    width: 310px;
  }
  .cases-wrapper .title-box i {
    font-size: 28px;
  }
  .cases-wrapper .title-box h3 {
    font-size: 22px;
    height: 22px;
    margin-bottom: 10px;
  }
  .cases-wrapper .embed-container {
    width: 310px;
  }
  .social_footer .social-icon img {
    width: 45px;
  }
  .detail-wrapper {
    width: 310px;
  }
  .detail-wrapper .play {
    top: -250px;
    left: 80px;
    width: 50% !important;
  }
  .detail-wrapper h3 {
    height: auto;
  }
  .detail-wrapper .yt-tn {
    height: 170px;
  }
  .detail-wrapper .yt-tn img {
    height: 170px;
  }
  .detail-wrapper #gallery {
    width: 310px;
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
  }
  .push {
    height: 300px;
  }
  .detail-wrapper .yt-tn {
    width: 310px;
    margin: 5px auto;
  }
  .detail-wrapper .yt-tn img {
    width: 100%;
  }
  .detail-wrapper .title-box .fa-times {
    color: black;
    font-size: 28px;
  }
  .detail-wrapper .title-box h3 {
    font-size: 22px;
    height: 22px;
    margin-bottom: 10px;
  }
  .detail-wrapper #gallery.flex {
    width: 100%;
  }
  .detail-wrapper #gallery.flex .half:nth-child(even) .play {
    top: 45%;
  }
  .detail-wrapper #gallery.flex .half {
    width: 100%;
    height: auto;
    margin: 0 5px;
  }
  .detail-wrapper #gallery.flex .half img {
    width: 100%;
    height: auto;
  }
  .detail-wrapper #gallery.flex .half .play {
    position: absolute;
    width: 25vw;
    top: 15%;
    margin-left: 30px;
  }
  .detail-wrapper #gallery.flex .third {
    width: 32%;
    height: auto;
    margin: 0 5px;
  }
  .detail-wrapper #gallery.flex .third img {
    width: 100%;
  }
  #bgm-btn {
    top: 5vw;
    right: 5vw;
    color: #ffff !important;
  }
  #bgm-btn i {
    text-shadow: 0px -1px 4px #b8d1d6;
    font-size: 30px;
  }
  #brg-menu a {
    margin-top: 25px;
    font-size: 20px;
  }
  #brg-menu .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-top: 10vh;
    width: 100%;
  }
  #brg-menu .social-icons img {
    width: 50%;
  }
  .show {
    -webkit-animation: none;
            animation: none;
  }
  nav .social-icons,
  nav .site_links {
    display: none;
  }
  #landingpage {
    background-image: url("https://res.cloudinary.com/media4e7/image/upload/c_fill,h_600,w_320/v1561457574/workrepublic_wien11_anrdmu.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #landingpage .logo {
    left: 35vw;
    width: 30vw;
  }
  #features button {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    left: 2vw;
    color: white;
    display: block !important;
  }
  #features button .featclose {
    display: none;
    position: absolute;
    bottom: 2px;
    left: 88vw;
  }
  #features button i {
    font-size: 25px;
  }
  .sideslide {
    -webkit-animation: mobilerightslide 0.2s ease-out forwards;
            animation: mobilerightslide 0.2s ease-out forwards;
  }
  #features .mfeat_cont {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    background-size: cover;
  }
  #features .mfeat_cont img {
    margin: 40px 5vw;
  }
  #features .mfeat_cont .hover-cont {
    width: 100vw;
    font-size: 30px;
    padding: 0;
    height: 100vh;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: rgba(0, 0, 0, 0.6);
  }
  #features .mfeat_cont .hover-cont .dashed {
    width: 90vw;
    margin: 0 5vw;
    padding: 0 !important;
    list-style-type: none;
  }
  #features .mfeat_cont .hover-cont .dashed li {
    margin: 20px 10%;
    width: 80%;
    color: white;
  }
  #features .mfeat_cont .hover-cont .dashed li::before {
    content: "-";
    margin-left: -15px;
  }
  #features .feat_cont {
    display: none;
  }
  #features .feat_cont .fp-controlArrow {
    display: none;
  }
  #features .feat_cont .fp-slidesContainer {
    width: 800vw !important;
  }
  .img-cont {
    width: 24%;
  }
  #work .case-more,
  #cases .case-more {
    display: inline-block;
  }
  #work button,
  #cases button {
    width: 60vw;
    margin: 5vh 20vw;
    margin-bottom: 0;
    font-size: 18px;
  }
  #work img,
  #cases img {
    width: 85vw;
    left: 7.5vw;
  }
  #work .tn-cont,
  #cases .tn-cont {
    overflow: hidden;
    padding: 0;
    width: 100vw;
    height: auto;
    position: absolute;
    top: 30vh;
  }
  #work .tn-cont .img-cont .hover-cont,
  #cases .tn-cont .img-cont .hover-cont {
    width: 100%;
  }
  #work .tn-cont .img-cont .hover-cont:hover,
  #cases .tn-cont .img-cont .hover-cont:hover {
    -webkit-animation: mobilehovereffekt 0.4s ease-out forwards;
            animation: mobilehovereffekt 0.4s ease-out forwards;
  }
  #work .tn-cont {
    top: 5vh;
  }
  #about-title {
    width: 90vw;
    margin: 0;
    top: 3.5vh;
    z-index: 50;
    left: 5vw;
  }
  .about_us {
    width: 90vw;
    padding: 0 5vw;
  }
  .about_us .main-img {
    height: 250px;
    margin-top: 0 !important;
    right: 0;
    top: 10vh;
  }
  .about_us .about_text {
    top: 50vh;
    position: absolute;
  }
  .about_us .about_text .ab-p {
    margin: 0;
    font-size: 12px;
  }
  .about_us .about_text img {
    height: 22vw !important;
  }
  #plattforms {
    padding: 0;
    padding-bottom: 5vh;
    margin-top: -1px;
  }
  #plattforms img {
    width: 85vw;
    height: 6vw;
    margin: 11vh 7.5vw 5vh 7.5vw;
  }
  #plattforms .plattform-box {
    width: 100vw;
    top: 5%;
    height: 90vw;
  }
  #plattforms .plattform-box a {
    padding: 0;
    height: 90vw;
  }
  #plattforms .plattform-box a:hover .hover-cont {
    -webkit-animation: mobilebighovereffekt 0.2s ease-out forwards;
            animation: mobilebighovereffekt 0.2s ease-out forwards;
  }
  #plattforms .plattform-box a .hover-cont {
    width: 90vw;
    height: 90vw;
  }
  #alex {
    position: relative;
    padding: 0 5vw !important;
  }
  #alex .about_text {
    right: 0;
    top: 37vh;
    width: 90vw;
  }
  #alex .mobile-alex {
    display: block;
    left: 0;
    top: 10vh;
  }
  #alex .des-alex {
    display: none !important;
  }
  #alex img {
    width: 90vw;
  }
  .main-img {
    height: auto !important;
  }
  #selma {
    padding-bottom: 10px;
  }
  #selma img {
    width: 90vw;
  }
  #press {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  #press #press-gal {
    -ms-grid-columns: (120px)[2];
        grid-template-columns: repeat(2, 120px);
    height: 370px;
  }
  #press .press-title {
    width: 100%;
    margin: 10vh 0;
  }
  #press button {
    width: 60vw;
    margin: 5vh 20vw;
    font-size: 18px;
    color: black;
  }
  #press .press-more {
    display: inline-block;
    color: black;
  }
  #press .press-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30vw;
    overflow: hidden;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #press img {
    margin-bottom: 1vh;
    margin-right: 1vh;
  }
  #footer {
    height: auto;
  }
  #footer .first_row {
    padding: 10px 5vw;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90vw;
    text-align: center;
  }
  #footer .first_row .touch {
    width: 100%;
    margin: 10px 0 10px 0;
  }
  #footer .first_row .links {
    width: 100%;
    margin-bottom: 55px;
  }
  #footer .first_row .links a {
    margin-bottom: 5px;
  }
  #footer .second_row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    width: 90vw;
    padding: 10px 5vw;
    margin-top: -1px;
  }
  #footer .second_row .link {
    margin: 4vh auto;
  }
  #footer .second_row .social_footer {
    width: 45vw;
    position: absolute;
    bottom: 18vh;
    left: 25vw;
  }
  #footer .second_row .social_footer a img {
    width: 25px;
  }
  #footer .second_row p {
    width: 100%;
    font-size: 10px;
    text-align: center;
    margin-bottom: 4vh;
  }
  #footer .second_row div {
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
  }
  .m-eye-links {
    width: 90vw;
    left: 5vw;
  }
  .mobileab {
    position: fixed;
    top: 2.5vh;
    left: 7.5vw;
    z-index: -100;
    opacity: 1;
  }
  .video-stream,
  .html5-main-video {
    width: 320px !important;
    height: 300px !important;
  }
  .mobile-title {
    color: white;
    margin-bottom: 40vw !important;
    font-size: 25px;
  }
  #impressum {
    width: 90vw;
  }
  .mcamp-img {
    display: block !important;
  }
}
/*# sourceMappingURL=mobile.css.map */