@media(max-width:1500px){
    .cases-wrapper,
    .detail-wrapper {
        width: 940px;

        #gallery {
            grid-template-columns: repeat(6, 150px)
        }
    }
}
@media(max-width:1100px) {

    
    #about-title{
        padding: 0;
    }
    #alex{
        .main-img{
            left: 0;
            width: 100%;
            margin: 0;
        } 
        .about_text{
            top: 50vh;
        }
    }
    #selma .about_text{
        top: 50vh;
    }
    .about_us{
        .main-img{
            width: 100%;
            top: 10vh;
        }
        .about_text{
            z-index: 3333;
            background: white;
            position: absolute;
            max-width: 100%;
            .ab-p{
                font-size: 2vw;
            }
        }
    }
    #plattforms .plattform-box{
        top: 32%;
    }
    #press #press-gal{
        grid-template-columns: repeat(6, 120px);
        margin: 0 auto;
        width: 720px;
    }
}

@media(max-width:800px) {
    #bgm-btn {
            top: 5vw;
            right: 5vw;
        }
    nav {
        

        .social-icons,
        .site_links {
            display: none;
        }

        .social-icons {
            justify-content: space-around;

            img {
                width: 70%;
            }
        }
    }
    #menu{
        .fa-times {
            margin-bottom: 5vh;
        }
        a{
            margin-top: 30px;
            font-size: 25px;
        }
        .social-icons{
            width: 70%;
            margin: 0 15%;
            .social-icon{
                img{
                    width: 70%;
                }
            }
        }
    }
    #campaigns {
        height: auto;
    }

    #campaigns .mobile-camp {
        display: block !important;
        width: 100vw;
        margin: 0;
    }

    .camp-img {
        display: block;
    }

    #eye {
        display: flex;

        .eye-img {
            top: 18vh;
            position: absolute;
            width: 40vw;
        }

        .eye-links {
            right: 0;
            flex-wrap: wrap;

            a {
                img {
                    height: 7vw;
                }
            }
        }

        .eye-text {
            position: absolute;
            top: 30vh;
            left: 20vw;
            width: 40vw;
        }

        p {
            position: absolute;
            top: 40vh;
            font-size: 3vw;
            width: 60vw;
        }
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none !important;
    }

    .fixed-p {
        position: fixed;
        width: 70vw;
        background-size: contain;
        top: 40vh;
        margin: 0 15vw;
        z-index: -120;
        font-size: 25px;
    }

    .m-eye-links {
        position: fixed;
        top: 5vh;
        left: 25vw;
        justify-content: space-between;
        width: 50vw;
        z-index: -120;
        display: flex;

        img {
            width: 10vw;
            height: auto;
        }
    }

    #mobile-eye {
        display: block;
        position: relative;
        width: 70vw;
        height: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
        top: 15vh;
        margin: 0 15vw;
        z-index: -120;
    }

    .cases-wrapper,
    .detail-wrapper {
        width: 630px;

        .play {
            top: -250px;
        }

        #gallery {
            grid-template-columns: repeat(4, 150px)
        }
    }

    #landingpage {
        background-image: url('https://res.cloudinary.com/media4e7/image/upload/c_fill,h_1300,w_1038/v1561457574/workrepublic_wien11_anrdmu.jpg');

        .logo {
            left: 40vw;
            width: 20vw;
        }

        video {
            width: auto;
            height: 100vh;
        }
    }

    #features .feat_cont .feat-box {
        width: 100%;
        height: 100vh;
        overflow-x: hidden;

        &:hover .hover-cont {
            animation: mobilefeathovereffekt 0.2s ease-out forwards;
        }

        .hover-cont {
            padding: 4vh 5%;
            width: 90%;
            font-size: 12px;
            height: 100vh;
            justify-content: center;

            img {
                margin-bottom: 20px;
            }


            ul {
                margin: 0 10%;
                margin-bottom: 3vh;
                font-size: 20px;
                width: 80%;
            }
        }
    }


    #work {
        button {
            font-size: 25px;
        }
    }

    #plattforms {
        .plattform-box{
            top: 32%;
        }
        img {
            height: 2vh;
        }
    }


    .des-alex {
        display: none;
    }

    #alex {
        padding: 0;
        .about_text{
            right: 5vw;
            top: 43vh;
        }
        .mobile-alex {
            display: block;
            left: 5vw;
            width: 90vw;
            top: 10vh;
            height: 500px;
        }
    }

    #about-title {
        top: 3vh;
        left: 5vw;
        width: 90vw;
    }

    #selma {
        flex-direction: column-reverse;
        padding: 0;
        .main-img {
            width: 90vw;
            height: 600px;
            margin-top: 0 !important;
            top: 0;
            right: 5vw;
        }

        .about_text {
            width: 90vw;
            top: 40vh;
            background: white;
            right: 5vw;
            position: absolute;
            z-index: 40;
        }
    }

    .about_us {
        flex-wrap: wrap;

        .main-img {
            width: 100%;
            height: 600px;
            margin-top: 0 !important;
            top: 0;
            right: 5vw;
        }

        img {
            width: 100%;
            height: auto;
        }

        .about_text {
            right: 5vw;
            max-width: 90vw;
            top: 40vh;
            .ab-p{
              font-size: 23px;  
            }
        }
    }

    #press {
        width: 480px;
        left: 0;
        margin: 0 auto;
        .press-title {
            width: 100%;
            margin: 10vh 0;
        }

        #press-gal {
            grid-template-columns: repeat(4, 120px)
        }

        button {
            width: 60vw;
            margin: 5vh 0;
        }

        .press-box {
            height: 20vw;
            overflow: hidden;
        }

        .press-more {
            display: inline-block;
        }
    }

    #footer {
        .first_row {
            width: 70vw;
            padding: 40px 15vw;

            .touch {
                margin-right: 100px;
            }
        }
        .second_row{
            width: 70vw; 
            padding: 0 15vw;
        }
    }
}

@media screen and (max-width:450px) {
    body {
        h3 {
            font-size: 14px;
        }

        a {
            font-size: 14px;
            font-weight: 500;
        }
    }
    .slick-slide{
        margin: 0 10px;
    }
    .fp-prev,.fp-next{
        display: none;
    }
    #campaigns {
        margin-bottom: 100vh;

        img {
            display: none;
        }

        .mobile-camp {
            display: block;
        }
    }

    #eye {
        display: flex;
        width: 80vw;

        .eye-img {
            width: 50vw;
            position: absolute;
            top: 10vh;
        }

        .eye-text {
            width: 50vw;
            position: absolute;
            top: 23vh;
            left: 30vw;
        }

        .eye-links {
            position: absolute;
            top: 10vh;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 30vw;

            a {
                width: 12vw;

                img {
                    width: 10vw;
                    height: auto;
                }
            }
        }

        p {
            font-size: 4vw;
            position: absolute;
            top: 30vh;
            width: 80vw;
        }
    }

    .fixed-p {
        position: fixed;
        width: 89vw;
        background-size: contain;
        top: 35vh;
        margin: 0 6vw;
        z-index: -120;
        font-size: 12px;
    }

    #mobile-eye {
        display: block;
        position: fixed;
        width: 90vw;
        height: 30vw;
        background-size: contain;
        background-repeat: no-repeat;
        top: 15vh;
        margin: 0 5vw;
        z-index: -120;
    }

    .cases-wrapper {
        width: 310px;

        .title-box {
            width: 310px;

            i {
                font-size: 28px;
            }

            h3 {
                font-size: 22px;
                height: 22px;
                margin-bottom: 10px;
            }
        }

        .embed-container {
            width: 310px;
        }
    }

    .social_footer .social-icon img {
        width: 45px;
    }

    .detail-wrapper {
        width: 310px;

        .play {
            top: -250px;
            left: 80px;
            width: 50% !important;
        }

        h3 {
            height: auto;
        }

        .yt-tn {
            height: 170px;

            img {
                height: 170px;
            }
        }

        #gallery {
            width: 310px;
            grid-template-columns: repeat(2, 150px);
        }
    }

    .push {
        height: 300px;
    }

    .detail-wrapper {
        .yt-tn {
            width: 310px;
            margin: 5px auto;

            img {
                width: 100%;
            }
        }

        .title-box {
            .fa-times {
                color: black;
                font-size: 28px;
            }

            h3 {
                font-size: 22px;
                height: 22px;
                margin-bottom: 10px;
            }
        }
    }

    #bgm-btn {
        top: 5vw;
        right: 5vw;
        color: #ffff !important;

        i {
            text-shadow: 0px -1px 4px rgb(184, 209, 214);
            font-size: 30px;
        }
    }

    #brg-menu {
        a {
            margin-top: 25px;
            font-size: 20px;
        }

        .social-icons {
            display: flex;
            opacity: 0;
            justify-content: space-between;
            margin: 0;
            margin-top: 10vh;
            width: 100%;

            img {
                width: 50%;
            }
        }
    }

    .show {
        animation: none;
    }

    nav {

        .social-icons,
        .site_links {
            display: none;
        }
    }

    #landingpage {
        background-image: url('https://res.cloudinary.com/media4e7/image/upload/c_fill,h_600,w_320/v1561457574/workrepublic_wien11_anrdmu.jpg');
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;

        .logo {
            left: 35vw;
            width: 30vw;
        }
    }

    #features button {
        background: none;
        border: none;
        outline: none;
        position: absolute;
        left: 2vw;
        color: white;
        display: block !important;

        .featclose {
            display: none;
            position: absolute;
            bottom: 2px;
            left: 88vw;
        }

        i {
            font-size: 25px;
        }
    }

    .sideslide {
        animation: mobilerightslide 0.2s ease-out forwards;
    }
    #features .mfeat_cont {
        height: 100vh;
        display: flex;
        width: 100vw;
        background-size: cover;

        img {
            margin: 40px 5vw;
        }

        .hover-cont {
            width: 100vw;
            font-size: 30px;
            padding: 0;
            height: 100vh;
            font-size: 18px;
            display: flex;
            justify-content: center;
            flex-direction: column-reverse;
            background-color: rgba(0, 0, 0, 0.8);

            .dashed {
                width: 90vw;
                margin: 0 5vw;
                padding: 0 !important;
                list-style-type: none;

                li {
                    margin: 20px 10%;
                    width: 80%;
                    color: white;
                }

                li::before {
                    content: "-";
                    margin-left: -15px;
                }
            }
        }

    }
    #features .feat_cont {
        display: none;
        .fp-controlArrow {
            display: none;
        }

        .fp-slidesContainer {
            width: 800vw !important;
        }


        
    }

    .img-cont {
        width: 90vw;
        height: 90vw;
    }

    #work,
    #cases {

        .case-more {
            display: inline-block;
        }

        button {
            width: 60vw;
            margin: 5vh 20vw;
            margin-bottom: 0;
            font-size: 18px;
        }

        img {
            width: 85vw;
            left: 7.5vw;
        }

        .tn-cont {
            overflow: hidden;
            padding: 0;
            width: 100vw;
            height: auto;
            position: absolute;
            top: 30vh;
            
            .img-cont .hover-cont {
                width: 100%;

                &:hover {
                    animation: mobilehovereffekt 0.4s ease-out forwards;
                }
            }
        }
    }

    #about-title {
        width: 90vw;
        margin: 0;
        top: 3.5vh;
        z-index: 50;
        left: 5vw;
    }

    .about_us {
        width: 90vw;
        padding: 0 5vw;

        .main-img {
            height: 250px;
            margin-top: 0 !important;
            right: 0;
            top: 10vh;
        }

        .about_text {
            
            top: 50vh;
            position: absolute;

            .ab-p {
                margin: 0;
                font-size: 12px;
            }

            img {
                height: 22vw !important;
            }
        }
    }

    #plattforms {
        padding: 0;
        padding-bottom: 5vh;
        margin-top: -1px;

        img {
            width: 85vw;
            height: 6vw;
            margin: 11vh 7.5vw 5vh 7.5vw;
        }

        .plattform-box {
            width: 100vw;
            top: 5%;
            a {
                padding: 0;

                &:hover .hover-cont {
                    animation: mobilebighovereffekt 0.2s ease-out forwards;
                }

                .hover-cont {
                    width: 90vw;
                    height: 90vw;
                }
            }
        }
    }
    #alex {
        position: relative;

        .about_text {
            right: 0;
            top: 37vh;
            width: 90vw;

        }

        .mobile-alex {
            display: block;
            left: 0;
            top: 10vh;
        }

        .des-alex {
            display: none !important;
        }

        padding: 0 5vw !important;

        img {
            width: 90vw;
        }
    }

    .main-img {
        height: auto !important;
    }

    #selma {
        padding-bottom: 10px;
        img {
            width: 90vw;
        }
    }

    #press {
        width: 250px;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        margin: 0 auto;

        #press-gal {
            grid-template-columns: repeat(2, 120px);
            height: 370px;
        }

        .press-title {
            width: 100%;
            margin: 10vh 0;
        }

        button {
            width: 60vw;
            margin: 5vh 20vw;
            font-size: 18px;
            color: black;
        }

        .press-more {
            display: inline-block;
            color: black;
        }

        .press-box {
            display: flex;
            height: 30vw;
            overflow: hidden;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        img {
            margin-bottom: 1vh;
            margin-right: 1vh;
        }
    }

    #footer {
        height: auto;

        .first_row {
            padding: 10px 5vw;
            flex-wrap: wrap;
            width: 90vw;
            text-align: center;

            .touch {
                width: 100%;
                margin: 10px 0 10px 0;
            }

            .links {
                width: 100%;
                margin-bottom: 55px;

                a {
                    margin-bottom: 5px;
                }
            }
        }

        .second_row {
            flex-wrap: wrap-reverse;
            width: 90vw;
            padding: 10px 5vw;
            margin-top: -1px;

            .link {
                margin: 4vh auto;
            }

            .social_footer {
                width: 45vw;
                position: absolute;
                bottom: 18vh;
                left: 25vw;

                a img {
                    width: 25px;
                }
            }

            p {
                width: 100%;
                font-size: 10px;
                text-align: center;
                margin-bottom: 4vh;
            }

            div {
                width: 80%;
                justify-content: space-around;
            }
        }
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    .m-eye-links {
        width: 90vw;
        left: 5vw;
    }

    .mobileab {
        position: fixed;
        top: 2.5vh;
        left: 7.5vw;
        z-index: -100;
        opacity: 1;
    }

    .video-stream,
    .html5-main-video {
        width: 320px !important;
        height: 300px !important;
    }

    .mobile-title {
        color: white;
        margin-bottom: 40vw !important;
        font-size: 25px;
    }

    #impressum {
        width: 90vw;
    }
    .mcamp-img{
        display: block!important;
    }
}