nav{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 70vw;
    padding:10px 15vw;
    z-index: 1;
    color: white;
    a{
        color: black;
    }
    button{
        color: white;
        position: fixed;
        top: 3vw;
        right: 3vw;
        background: none;
        border: none;
        .fas{
           text-shadow: 3px 6px #272634;
           z-index: 3;
           font-size: 35px;
        } 
    }
    
    .social-icons{
        width: 25%;
        z-index: 1;
        img{
            width: 10%;
            height: auto;
            margin: 30px 5%;
        }
    }
    .site_links{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        z-index: 1;
        margin-top: 35px;
        font-size: 20px;
        font-weight: bold;
    }
    .menu-close{
        animation: menuclose 0.3s ease-out forwards!important;
    }
    .menu-open{
        animation: menuopen 0.3s ease-out forwards;
    }
            :nth-cild(4){
                animation-delay: 0.6s
            }
    #brg-menu{
        width: 0;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        display:flex;
        flex-direction: column;
        text-align: center;
        .menu-close{
            animation: menuopen 0.2s ease-in reverse forwards!important;
        }
        :nth-child(2) {
            animation-delay: 0.6s
        }
        .closeslide{
            animation: closeslide 0.2s ease-in forwards;
            animation-delay: 0.3s
        }
        i{
            color: white;
            
            font-size: 20px;
            opacity: 0;
        }
        .textslide{
            animation: slidetext 0.2s ease-in forwards;
            animation-delay: 0.5s
            
        }
        a{
            color: white;
            margin-top: 50px;
            opacity: 0;
            font-size: 20px;
            :nth-of-type(2) {
                animation-delay: 0.6s!important
            }
        } 
    }
}
