---
---
<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include menu-window.html %}
    {% include navigation.html %}
    <div class="cases-wrapper">
        <div class="title-box">
            <h3>{{ page.title }}</h3>
            <a href="../index.html"><i class="fas fa-times"></i></a>
        </div>
        <div class="embed-container">
            <iframe width="560" height="315" src="{{page.video}}"></iframe>
        </div>
        <div class="arrow-box">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
        </div>
    <div class="push"></div>
    </div>
    {% include footer.html %}
  </body>
</html>