---
---
<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="cases-wrapper">
        <div class="title-box">
            <h3>{{ page.title }}</h3>
            <a href="../index/#case"><i class="fas fa-times"></i></a>
        </div>
        <div class="embed-container">
            <iframe width="560" height="315" src="{{page.video| replace: "watch?v=", "embed/" }}?&autoplay=1"></iframe>
        </div>
        <div class="arrow-box">
            {% if page.previous.url %}
              <a class="prev" href="{{page.previous.url}}"><i class="fas fa-chevron-left " ></i></a>
            {% endif %}
            {% if page.next.url %}
              <a class="next" href="{{page.next.url}}"><i class="fas fa-chevron-right"></i></a>
            {% endif %}
        </div>
    <div class="push"></div>
    </div>
  </body>
</html>