---
---
<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {{ content }}
    <div class="push"></div>
    </div>
    {% include footer.html %}
  </body>
  <script>$(document).ready(function() {
    $('#home').fullpage({
      //options here
      autoScrolling:true,
      scrollHorizontally: true,
      //Navigation
    	menu: '#menu',
	    lockAnchors: false,
    	anchors:['lp', 'campaigne', 'medien', 'wwd', 'case', 'works', 'platforms'],
	    navigation: true,
    	navigationPosition: 'right',
	    navigationTooltips: ['Landingpage', 'Campaigne', 'Medien', 'What we do', 'Cases', 'Work', 'Platforms',],
    	showActiveTooltip: false,
     	slidesNavigation: false,
    	slidesNavPosition: 'bottom',
    });
  });</script>
</html>