---
---
<!doctype html>
<html>
{% include head.html %}

<body>
  <!--<div class="ldBar" data-stroke="data:ldbar/res,gradient(0,1,#f99,#ff9)"></div>-->
  <div class="wrapper">
    {% include navigation.html %}
    {{ content }}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"
    integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../assets/js/fullpage.parallax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.7/fullpage.extensions.min.js"
    integrity="sha256-l/fwzXp9IwBn0fFrBx+IU4JGuSP5lZsfE5i8uMAWD90=" crossorigin="anonymous"></script>
  <script src="/assets/js/my.js"></script>
  <script src="/assets/js/magnific_popup_main.js"></script>
  
</body>

</html>