<!doctype html>
<html>
{% include head.html %}

<body>
    <div class="detail-wrapper">
        <div class="title-box">
            <h3>{{ page.title }}</h3>
            <a href="../index/#work"><i class="fas fa-times"></i></a>
        </div>
        <div id="gallery">
            {% for vid in page.vid %}
            <a class="desktop" href="{{vid.video}}" rel="video">
                <img src="{{vid.vtn}}">
            </a>
            {% endfor %} {% for pic in page.img %}
            <a class="gridlink" href="{{site.cloud_host}}{{pic}}">
                <img class="gridimg" src="{{site.cloud_host}}if_w_gt_h,c_fill,h_250,w_310/if_h_gt_w,c_fill,w_150,h_250/{{pic}}">
            </a>
            {% endfor %}

        </div>
        {% for vid in page.vid %}
        <a class="mobile" target="_blank" href="{{vid.video}}">
            <img src="{{vid.vtn}}">
        </a>
        {% endfor %}

        <p></p>


        <div class="arrow-box">
            {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}"><i class="fas fa-chevron-left"></i></a> {% endif %} {% if page.next.url %}
            <a class="next" href="{{page.next.url}}"><i class="fas fa-chevron-right"></i></a> {% endif %}
        </div>

        <div class="push"></div>
    </div>
    <script>
        // applying photobox on a `gallery` element which has lots of thumbnails links.
        // Passing options object as well:
        //-----------------------------------------------
        $('#gallery').photobox('a', {
            time: 0
        });

        // using a callback and a fancier selector
        //----------------------------------------------
        $('#gallery').photobox('li > a.family', {
            time: 0
        }, callback);

        function callback() {
            console.log('image has been loaded');
        }

        // re-initialize the photbox DOM (does what Document ready does)
        //-----------------------------------------------
        $('#gallery').photobox('prepareDOM');
    </script>
    {% include footer.html %}
</body>

</html>